@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.ProjectItem>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "Master.cshtml";
}

 <div class="header-container">
    <h3 class="headings-articles">@Model.Value("projectsTitle")</h3>
    </div>

    <div class="paragraph">
        
        <h5>@Model.Value("projectTitle")</h5>
        <br><br>
        Description: @Model.Value("projectDescription")
        <br>
        @Model.Value("projectsBodyText")
        <br>
        Status: @Model.Value("projectStatus")
        <br><br>
        Contact us to know more about the project!
    </div>


